{% extends "::base.html.twig" %}
{% block title %}
Erreur 404 | {{ parent() }}
{% endblock %}

{% block body %}
        <h1><span class="glyphicon glyphicon-dashboard"></span> Erreur 404 !</h1>
        <p>La page que vous cherchez n'existe pas (ou plus).</p>
{% endblock %}