{% extends "FOSUserBundle::layout.html.twig" %}

{% block container %}
<body class="sign-in-bg">
<div class="sign-in">
<form class="form-inline formstyle" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
   <fieldset>
        <legend>Récupération du Mot de passe</legend>
    
        {% if invalid_username is defined %}
            <div class="alert alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong><i class="icon-warning-sign"></i> erreur : </strong> {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
            </div>
        {% endif %}
        <div class="form-group">            
        <div class="input-group">
        <input type="text" class="form-control" name="username" required="required" placeholder="Nom d'utilisateur ou adresse e-mail" />
        <button type="submit" class="btn btn-info">Réinitialiser le mot de passe <span class="glyphicon glyphicon-refresh"></span></button>
        </div>
        </div>
    </fieldset>
</form>
</div>

</body>
{% endblock container %}
