@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum'), local('Cuprum-Regular'), url(../fonts/Cuprum.woff) format('woff');
}
a.link-main {
	color: #444;
}
body{
	margin: 0;
	font-size: 14px;
	background: #f9f9f9;
}
.container {
	width: 100%;
	padding: 15px 35px;
	position: relative;
}
h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}
.container > h2, .container > .row h2 {
	color: #666;
	text-shadow: 0 1px 0 #FFF;
	margin-bottom: 28px;
	margin-top: 10px;
	font-family: Cuprum, Helvetica, Arial, Verdana;
	font-weight: bold;
	letter-spacing: 0.025em;
	line-height: 38px;
}
/*.working{background:url('../images/ajax-loader.gif') no-repeat center center;opacity: 0.2;}*/
.working{position: relative;}
.working:after{
	content: "";
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: .8;
	background: rgba(247, 247, 247, 1) url('../images/ajax-loader.gif') no-repeat center center;
	z-index: 999;
}
.working-input{background: url('../images/loader.gif') no-repeat center right;}
.breadcrumb{margin: 0px -25px;}
header.header{
	background: #3C3C3C;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 0;
	z-index: 1030;
}
.front-end .wrap{padding: 0 20px;}
.front-end .menu{display: none;}
/* themes option */
.theme1 .menu, .theme1 header.header{background-color: #2C3E50;}
.theme1 .menu li{
	border-top: 1px solid #3F566D;
	border-bottom: 1px solid #212F3D;
}

.theme2 .menu, .theme2 header.header{background-color: #202020;}
.theme2 .menu li{
	border-top: 1px solid #373738;
	border-bottom: 1px solid #0D0D0D;
}
.theme3 .menu, .theme3 header.header{background-color: #674172;}
.theme3 .menu li {
	border-top: 1px solid #6F4C86;
	border-bottom: 1px solid #483150;
}

.menu li:first-child {
	border-top: 0;
}
.menu li:last-child {
	border-bottom: 0;
}
.menu{
	float: left;
	width: 155px;
	position: fixed;
	z-index: 1030;
	margin-top: 50px;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}
.menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu li{
	position: relative;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.menu li:hover{
	background: #4E4E4F;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.2) inset;
}
.menu li:hover ul{
	opacity: 1;
	top: 0;
}
.menu li.current{
	background: #1DA88D;
	border: 0;
}
.menu li.current a{
	color: white;
}
.menu li.current:after {
	right: 0;
	border: solid rgba(143, 143, 143, 0);
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 10px;
	top: 19px;
	z-index: 10000;
	border-right-color: #f5f5f5;
}
.menu li a{
	text-align: center;
	display: block;
	font-size: 12px;
	padding: 5px 0;
	color: #d2d3d4;
	text-transform: uppercase;
}
.menu li span.block{
	display: block;
	font-size: 16px;
	line-height: 1.72222;
	width: 100%;
}
.menu li ul{
	opacity: 0;
	position: absolute;
	top: -9999px;
	left: 100%;
	background: #525252;
	border-left: 2px solid #1abc9c;
	-webkit-transition: opacity 0.4s ease 0s, left 0.4s ease 0s;
	-moz-transition: opacity 0.4s ease 0s, left 0.4s ease 0s;
	-ms-transition: opacity 0.4s ease 0s, left 0.4s ease 0s;
	-o-transition: opacity 0.4s ease 0s, left 0.4s ease 0s;
	transition: opacity 0.4s ease 0s, left 0.4s ease 0s;
}
.menu li ul li{
	float: left;
	width: 200px;
	border-bottom: 1px solid rgb(63, 63, 63);
	border-top: 1px solid rgb(94, 94, 94);
}
.menu li li a{
	text-align: left;
	padding-left: 10px;
}
/* collapse menu */
.shelf #adminbar #logo, .shelf .menu{width: 66px;text-align: center;}
.shelf .menu span:last-child, .shelf #adminbar #logo span{display: none;}
.shelf .wrap{padding-left: 66px;}
.shelf .menu li.current:after{top: 26%;}
.shelf .menu li{border:0;}
.menu .tooltip{visibility: hidden;}
.shelf .menu .tooltip{visibility: visible;}
.wrap {
	float: left;
	padding-left: 155px;
	width: 100%;
	margin-top: 50px;
}
/* login form */

/* table */
.table tr {
background: white;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd!important;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px!important;
}
.table img {vertical-align: inherit; }
.table-bordered {border:0;border-top: 1px solid #ddd;}
.table tr.mypagination{background: transparent;}
.table tr.mypagination td{border: 0!important;background: transparent!important;}
.img40 {
width: 40px;
height: 40px;
}
.btn-area a{margin-right:10px;}
.tab-content {
border: 0;
}
label.radio{padding-top: 0px!important;}
.has-switch{vertical-align: text-top;}
/*tooltip*/
.tooltip-inner{width:inherit;}

/* widget */
div.box{
margin-bottom: 20px;
}
div.box h3{
margin: 5px;
color: white;
font-weight: normal;
font-size: 18px;
}
.box header{
	background: rgba(52, 73, 94, 0.77);
	padding: 4px 10px;
}
.box .img-circle {
	border: 4px solid rgba(255, 255, 255, 0.5);
}
.box ul.list-group{
	margin: 0;
}
.box .list-group-item:first-child{
	border-radius: 0;
}
.inbox-margin > div {
	padding: 0;
}
.inbox-panel {
	background: #414a58;
}
.inbox-panel header {
	background: #414a58;
	border: 0;
	padding: 20px;
}
div.inbox-panel h3 {
	color: #FFFFFF;
	display: block;
	font-family: open sans;
	font-size: 20px;
	letter-spacing: 0.3px;
	margin: 10px 0 20px;
}
.inbox-panel header a {
	color: #FFFFFF;
	display: block;
	font-family: open sans;
	font-size: 12px;
	line-height: 10px;
	margin: 8px 0;
}

.inbox-panel .list-group-item{
	color: #FFFFFF;
}
.inbox-panel .list-group-item  {
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background: transparent;
}
.inbox-panel .list-group-item:last-child {
	border-radius: 0;
}
.inbox-panel a.list-group-item:hover, a.list-group-item:focus {
	background-color: rgba(255, 255, 255, 0.28);
}
.inbox-panel .glyphicon{
	margin-right: 6px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	background-color: #428bca!important;
	border-color: #428bca!important;
}
ul.social{
	list-style: none;
	font-size: 30px;
	display: block;
	text-align: center;
}
ul.social li {
	display: inline-block;
	margin-right: 10px;
	border-radius: 50%;
}
/* mybadge */
.mybadge{
	border: 1px solid rgb(204, 204, 204);
	padding: 0;
	position: relative;
	height: 158px;
	background: #FFFFED;
}

.mybadge .pic, .box .avatar{
	width: 100px;
	height: 100px;
}
.mybadge .logo{
	width: 60px;
	height: 60px;
	padding: 5px;
}
.mybadge h2{
	margin-top: 12px!important;
	font-size: 22px;
	margin-bottom: 0!important;
}
.mybadge .footer{
	background: rgba(52, 73, 94, 0.77);
	color: white;
	padding: 5px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
.mybadge .pic{margin-right: 10px;border-radius: 0 0 5px 0;}
.js-barcode{margin: 31px auto;}
.js-barcode div{background: transparent!important;}
.etiquette .js-barcode{padding-left: 10px;} 
/* flat ui */
.ui-datepicker{z-index: 9999!important;}
.table .dropdown-menu{left:-50px;}
.open > .dropdown-menu{overflow: hidden;}
.fui-arrow-right:before{content: "\e02c"!important}
.table .selected-row > td {background-color: #f2fbfa!important;}
p{font-size: inherit;line-height: inherit;}
.table .fui-radio-unchecked{font-size: 12px!important;}
.modal-dialog{left: auto;}
.modal-content{width: 100%;}
.form-horizontal .checkbox{padding-top: 0px;}
.table [class*="fui-"] {top: 0px; }
.table ul{
	margin: 0;
	padding: 0;
}
.form-control,.input-group .input-group-btn .btn, .froala-element, .froala-editor{border-color: #DBDBDB!important}
.form-group.focus .form-control, .form-control:focus,.form-group.focus .input-group-btn .btn, .navbar-form.focus .input-group-btn .btn {border-color: #1abc9c!important;}
.fa-strikethrough, .fa-underline, .fa-magic, .fa-picture-o, .fa-dedent, .fa-indent,.fa-undo,.fa-repeat,.fa-video-camera,.f-sep{display:none!important;}
.froala-box {background: white;}
.input-group .input-group-btn .btn{z-index: 2;}
.input-group[class*="col-"] {
	padding-right: 15px;
	padding-left: 15px;
}
.hideme{display: none;}
/* colorpicker */
.mycolorpicker .input-group-addon{background: rgb(238, 238, 238);}
.daterangepicker.dropdown-menu, .colorpicker.dropdown-menu{
	opacity: 1;
	display: none;
	width: inherit;
	visibility: inherit;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	 -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); 
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-webkit-transition: inherit;
	transition: inherit;
}
.colorpicker-hue{background: url("../img/bootstrap-colorpicker/hue.png") repeat!important;}
.print-header{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.print-header h1{
	margin: 0;
}
.print-header img{
	width: 50px;
}
.printed-badge{
	width : 300px;
	float : left;
	margin-right : 20px;
	page-break-inside: avoid;
}

#advanced-search .form-group{margin-bottom: 0;}

/* widget */
.widget-body{
	background: none repeat scroll 0 0 #F0F0F0;
	margin: 30px 0 0;
	position: relative;
}
.stat-boxes .ben-icone{
	color: #FFFFFF;
	background: rgba(52, 73, 94, 0.77);
	float: left;
	font-size: 30px;
	line-height: 80px;
	text-align: center;
	width: 37%;
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	-ms-border-radius: 4px 0px 0px 4px;
	-o-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
}
.stat-boxes h3 {
	color: #666666;
	float: left;
	font-family: Open Sans;
	font-size: 40px;
	font-weight: 600;
	margin: 8px 0 8px;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
	width: 63%;
}
.stat-boxes i {
	color: #555555;
	display: block;
	font-style: normal;
	letter-spacing: 0.3px;
	line-height: 6px;
	text-align: center;
	text-transform: lowercase;
}
.stat-boxes:after {
	border-left: 23px solid #DADADA;
	border-top: 23px solid #f9f9f9;
	content: "";
	position: absolute;
	right: 0;
	top: 0;
}
/* dropdown submenu */
.btn-group .divider{
	border-bottom: 1px solid #4E6781;
	border-top: 1px solid #181F27;
}
/* google map */
.map-warper{
	border: 1px solid #DBDBDB;
	margin: 0 auto;
	height: 328px;
	border-top: 0;
}
#js-map {
	width: 100%;
	height: 100%;
}
.js-toggle {
	cursor: pointer;
	font-size: 12px;
	line-height: 20px;
}

/* google menu */
#adminbar #logo{
	float: left;
	width: 155px;
	height: 50px;
	color: rgb(189, 189, 189);
	padding: 2px 10px;
	line-height: 47px;
	background: rgba(128, 128, 128, 0.48);
}
#logo span{
	font-size: 17px;
	vertical-align: middle;
}
.user-profile>a {
	display: block;
	height: 50px;
	line-height: 50px;
	margin: 0 0 0 10px;
	padding: 0 15px 0 10px;
	color: #9c9c9c;
}
.user-profile>a img {
	border-radius: 4px;
}
.user-profile>a:hover {
	background: rgba(78, 78, 79, 0.75);
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.2) inset;
}
.img-small{
	width: 34px;
	height: 34px;
}
.img-xs{
	width: 24px;
	height: 24px;
}
#adminbar .dropdown-menu li>a:hover{
background: #e7e7e7;
color: #333;
}
.header-btn{
	padding: 8px 20px;
}
.header-btn a{
	color: white !important;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
}
.user-profile.open > .dropdown-menu {
	width: inherit;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background: white;
	margin-top: 0px!important;
	border-radius: 0;
	border-top: 0;
	transition: inherit;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
/* fosmessage */
.content-warper{
	background: white;
	margin-bottom: 30px;
	box-shadow: 0 1px 1px #CCC;
	border: 1px solid #E9E9E9;
	border-bottom: 0;
}
.content-warper .body {
	padding: 30px;
	border-bottom: #EEE 1px solid;
	position: relative;
}
.content-warper header{
	border-bottom: #EEE 1px solid;
	margin-bottom: 0;
	padding: 30px 30px 0;
}
.content-warper .meta{
	position: absolute;
	top: 4px;
	right: 24px;
	color: #919191;
}
.content-warper .meta li{
	float: left;
	padding: 2px 10px;
}
.content-warper h1 {
	color: #636363;
	font-weight: normal;
	font-size: 25px!important;
	margin: 0 0 20px;
}
ul.threadslist {
	margin: 0;
	list-style: none;
	padding: 0;
}
.threadslist .thread-item, .thread-form-wrapper{
	padding: 10px 0;
	border-bottom: #EEE 1px solid;
	position: relative;
	border-left: 1px solid transparent;
}
.threadslist .thread-item.unread {
	background-color: #FAFFE8;
}
.thread-item p{
	font-size: 14px;
	margin: 0;
}
.message-label p {
	color: #777;
	font-size: 12px;
	line-height: 1;
}
.message-label h6 {
	font-size: 15px;
	margin-top: -2px;
	margin-bottom: 6px;
	font-weight: bold;
}
.threadslist .thread-item:hover {
	border-left: 1px solid #414a58;
}
.navbar .user-menu {
	list-style: none;
	margin: 0;
	padding: 0px;
}
.navbar .user-menu > li{
	float: left;
}
.navbar .user-menu > li > a {
	position: relative;
	padding: 11px 14px;
	color: #BBBBBB;
	font-size: 18px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	line-height: 54px;
}
.navbar .user-menu > li > a .badge {
	position: absolute;
	top: 5px;
	right: 6px;
	padding: 0 6px 1px 5px;
	border-radius: 50%;
}
.label, .badge {
	font-size: 11.225px;
}
.label-important, .badge-important {
	background-color: #b94a48;
}
.navbar .user-menu a:focus, .navbar .user-menu a:hover {
	color: #ffffff;
}

div[class*="col-"]{
	min-height: 0px;
}
.room-widget div {
margin-bottom: 20px;
}
div.page
{
  page-break-after: always;
  padding: 20px;
}
div.page p{
	page-break-inside: avoid;
	position: relative;
}

.modal .throbber{margin-top: 18%!important;}
/* sort */
th.sortable a, th.sorted a {
	display: block;
	overflow: hidden;
	color: #526476;
}
th.sortable .glyphicon-sort{
	opacity: 0;
}
th.sortable:hover .glyphicon-sort, th.sorted .glyphicon-sort{
	opacity: 1;
}
.fc-content{background-color: white;}

/* qtip2 */
.qtip-bootstrap .qtip-content {font-size: 12px;}
.qtip-bootstrap .qtip-content a{display: block;text-align: center;}
.fc-grid .fc-event-time{display: none;}

/* print */
#btnPrint{cursor: pointer;}
@media print {
	body{background: #FFFFFF;}
	body, .wrap, .container{margin:0!important;padding:0!important;}
	.sf-toolbarreset, #adminmenu, .user-profile, .btn-group, .btn{display: none;}
	.list-group-item{border:none;padding: 5px 15px;}
	#adminbar #logo {display: none!important;}
	#adminbar #logo-header{width:600px;height: 90px;display: block!important;float: none; }
	#adminbar{position: static;height: inherit;}
	a[href]:after {content: none !important;}
}

@media (max-width: 400px) {
  .user-profile .fullname{display: none}
  .col-md-2.col-xs-6{width: 100%;}
}




.graph {
width: 100%;
height: 400px;
float: left;
}
.stats-warper{
	padding: 10px;
	border: 1px solid gainsboro;
	background: white;
}
.list-group .progress{
	margin: 0;
}
.list-group-item .mylabel{
	color: rgb(10, 10, 10);
	text-transform: capitalize;
}

/* mycalendar */
span.month {
	display: block;
	width: 23%;
	height: 70px;
	line-height: 70px;
	float: left;
	margin: 1%;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	border: 1px solid #ddd!important;
}
span.month:hover {
	background: rgb(238, 238, 238);
}
span.month.active{
	color: white;
	background: #48c9b0;
	border-color: transparent;
}
.datetimepicker thead tr:first-child th, .datetimepicker tfoot tr:first-child th {
	cursor: pointer;
}
.datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot tr:first-child th:hover {
	background: #eee;
}
.scrolldiv{
	max-height: 291px;
	overflow: auto;
	border-bottom: 1px solid #ddd;
}
.scrolldiv .table{margin: 0;}
/*.scrolldiv .tr:last-child{border-width: 0;}*/
.legendLabel{padding-left: 5px;}

#flotTip{
	border: 1px solid rgb(197, 197, 197)!important;
	border-radius: 2px!important;
}

.popup-messages .navbar-footer-content {
  padding: 5px;
}
.popup-messages .navbar-content{
	padding: 0 15px;
}
.popup-messages .thread-item a{
	color: #444!important;
}