{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}
<h2><span class="fui-tag block"></span> Ajout d'une chambre</h2>

<form id="createForm" class="form-horizontal" action="{{ path('rooms_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <div class="form-group">
      <div class="col-md-offset-4 col-md-4">
        <button type="submit" class="btn btn-embossed btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter</button>
      </div>
    </div>
            
</form>

{% endblock body %}