{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}
Paramètres - {{ parent() }}
{% endblock %}

{% block fos_user_content %}
     
<h2><span class="fui-myspace"></span> Groupe {{ group.getName() }}</h2>
<div class="row">
    {% for entity in group.getUsers() %}
    <div class="col-md-4 col-xs-6">
        {% include "BenUserBundle:admin:entity.html.twig" %}
    </div>
    {% endfor %}
</div>


{% endblock fos_user_content %}
