<aside>
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#facebook">Facebook</a></li>
        <li><a href="#twitter">Twitter</a></li>
        <li><a href="#google">Google+</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="facebook">
            <div class="inner-padding">
                <p>Vous aimez cet article ? Partagez le ! </p>
            </div>
        </div>
        <div class="tab-pane" id="twitter">
            <div class="inner-padding">
                <p>Vous aimez cet article ? twitter le ! </p>
            </div>
        </div>
        <div class="tab-pane" id="google">
            <div class="inner-padding">
                <p>Vous aimez cet article ? google le ! </p>
            </div>
        </div>
    </div>
</aside>