{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block message_content %}
    <header>
        <h1><span class="glyphicon glyphicon-trash"></span> {{ 'message.meta.deleted'|trans }}</h1>
    </header>
    {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threadpage': threads} %}
{% endblock %}