<ul class="nav nav-tabs">
   <li class="active"><a href="#tab1"><span class="fui-list-bulleted"></span> Inbox</a></li>
    <li><a href="{{ path('fos_message_sent') }}"><span class="fui-share"></span> Envoyée</a></li>
    <li><a href="{{ path('fos_message_thread_new') }}"><span class="fui-share"></span> Nouveau message</a></li>
 </ul> <!-- /tabs -->
